@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero{
  background: url("/hero.jpg") no-repeat;
  background-position: top;
  background-size: cover;
}

.toggle-menu{
  transition: 1s ease;
  animation: moveTop 1s ease;
}

.card{
  transition: all 1s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first{
  background: url("/bg1.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.second{
  background: url("/bg2.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.third{
  background: url("/bg3.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fourth{
  background: url("/bg4.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fifth{
  background: url("/bg5.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sub1{
  background: url("/subImages1.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sub2{
  background: url("/subImages2.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sub3{
  background: url("/subImages3.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sub4{
  background: url("/subImages4.png") no-repeat;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.big-ellipse{
  top: 10%;
  right: 10%;
}

.medium-ellipse{
  top: 10%;
  left: -10%;
}

.xsmall1-ellipse{
  top: 30%;
}

.xsmall2-ellipse{
  left: -10%;
  top: 80%;
}

.small-ellipse{
  top: 45%;
}

.play-button{
  transform: translate(-50%, -50%);
}


@media (max-width : 475px){
  .hero{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-position: 55%;
  }
  .hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .information{
    display: none;
  }
  .header{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
}

@media (max-width: 1200px) {
  .information{
    display: none;
  }
  .header{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
}

@media (max-width: 756px) {
  .images{
    flex-direction: column;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 20px;
  }
  .hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container1{
    height: auto;
  }
  .shopHero{
    padding-top: 3rem;
    padding-bottom: 0rem;
    height: auto;
  }
  .poster{
    flex-direction: column;
  }
  .main-container2{
    height: auto;
  }
  .shop-image{
    height: auto;
    width: auto;
  }
}

@media (min-width: 769px) and (max-width: 1100px){
  .cart{
    padding: 0px 2.5rem 0px 2.5rem;
  }
}